<!--URDF Launch -->
<launch>
  
  <node name="gzclient" pkg="gazebo_ros" type="gzclient" args="--vebose"/>

    <!-- Convert an xacro and put on parameter server    -->
    
    <include file="$(find gvrbot_control)/launch/control.launch"/>  
    <include file="$(find gvrbot_description)/launch/description.launch"/>
    

    <!-- Spawn a robot into Gazebo      --> 
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-x 5.5 -y -1.5 -z 0.25 -param robot_description -urdf -model gvr01" />		
           
    <node pkg="interactive_marker_twist_server" type="marker_server" name="twist_marker_server"/>

</launch>
