<?xml version="1.0"?>
<launch>

  <!-- Spawn Radbot -->
  <include file="$(find gvrbot_bringup)/launch/bringup.launch"/>  
  <include file="$(find gvrbot_viz)/launch/view_robot.launch"/>

  <include file="$(find microstrain_mips)/launch/microstrain.launch">
    <arg name="imu_frame_id" default="imu_link" />
  </include>

  <!-- Point cloud to single scan -->
  <include file="$(find gvrbot_sensor_test)/launch/pointcloud_to_laserscan.launch"/>  

</launch>
