<launch>
  <!-- Radbot configuration to view. -->
  <arg name="config" default="base"/>

  <include file="$(find radbot)/launch/description.launch">
    <arg name="config" value="$(arg config)" />
  </include>

  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find radbot)/rviz/model.rviz" />
</launch>
