<launch>
  <rosparam command="load" file="$(find gvrbot_control)/config/control.yaml" />

  <group if="$(optenv GVRBOT_CONTROL_EXTRAS 0)" >
    <rosparam command="load" file="$(env GVRBOT_CONTROL_EXTRAS_PATH)" />
  </group>
  
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
        args="gvrbot_joint_publisher gvrbot_velocity_controller" />

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
    <rosparam command="load" file="$(find gvrbot_control)/config/robot_localization.yaml" />
  </node>

  <node pkg="twist_mux" type="twist_mux" name="twist_mux">
    <rosparam command="load" file="$(find gvrbot_control)/config/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="/cmd_mux/cmd_vel"/>
  </node>

</launch>
