<launch>
  <!--
    Push and hold the left front bumper labeled as 'LB' to activate cmd_vel publishing.
    Push and hold the 'A' button instead of the bumper to enable turbo.
    Move the left stick around to control the velocity.
  -->

  <arg name="joy_config" default="xbox" />
  <arg name="joy_dev" default="/dev/input/js0" />
  <arg name="config_filepath" default="$(find gvrbot_control)/config/$(arg joy_config).config.yaml" />
  
  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="dev" value="$(arg joy_dev)" />
    <param name="deadzone" value="0.3" />
    <param name="autorepeat_rate" value="20" />
  </node>

  <node pkg="teleop_twist_joy" name="teleop_twist_joy" type="teleop_node">
    <rosparam command="load" file="$(arg config_filepath)" />
    <remap from='cmd_vel' to='joy_teleop/cmd_vel'/>
  </node>


</launch>
